body {
    margin: 0;
    padding: 0;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    font-size: 20px;
    justify-content: space-around;
    gap: 5px;
    
}

.comp-name {
    display: flex;
    justify-content: space-around;
}
