@font-face {
    font-family: "Pokemon";
    src: url('fonts/Pokemon\ Solid.ttf');
}



.comp-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.links {
    display: flex;
    gap: 15px;
    padding: 15px;

}

.header {
 display: flex;
 justify-content: space-between;
 
 flex-wrap: nowrap;
 width: 100%;
 


}

a {
    text-decoration:underline;
    color: #FFDE00;
}


a:visited {
    background-color: transparent;
}

.content {
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items:center;
     
}

.title {
    flex-basis: 50%;
}

input {
    border-radius: 5px;
     height: 33px;
}

button {
    border-radius: 3px;
    background-color:#FFDE00 ;
    color:rgb(60, 90, 166) ;
    font-family: "pokemon", sans-serif;


    
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 0, 0);
    color: #FFDE00;
    font-size: 25px;
    font-family: 'Pokemon', sans-serif;
   text-shadow: -2.1px -2.1px 0 rgb(60, 90, 166),2.1px -2.1px 0 rgb(60, 90, 166), -2.1px 2.1px 0 rgb(60, 90, 166), 2.1px 2.1px 0 rgb(60, 90, 166);
    
    

    
    
}


.container   {

    margin: 5px;
    display: flex;
   
    flex-direction: column;
 


}
.name-img {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.poke-div {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
      border: solid 5px rgb(9, 115, 255);
    visibility:hidden;
    gap: 10px;
    padding: 10px;
     border-radius: 5px;
     box-shadow: -1px 1px 20px 1px black;
     text-decoration: underline;
 
}

.poke-stats {

    display: flex;
    visibility: hidden;
    border: solid 3px rgb(9, 115, 255);
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:15px;
    max-width: 400px;
    box-shadow: -1px 1px 10px 1px black;
   
    
  
}


