
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}


.poke-div {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


